body
{
  margin: 0 auto;
  background-color: #002036;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: white;
}

.menu_style, .logo {
  background: rgba(0, 0, 0, 0.15);
}

.header, .footer {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 8%;
  position: fixed;
  top: 0;
}

.logo {
  width: 40%;
  float: left;
  height: 100%;
}

.menu_style {
  float: left;
  width: 15%;
  text-align: center;
  line-height: 500%;
  margin: 0 auto;
}

.content
{
  margin: 0 auto;
  margin-top: 4%;
  height: 150%;
  width: 65%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.footer {
  height: 15%;
}

.content, .footer {
  padding: 50px;
  box-sizing: border-box;
}

.template, .creator {
  width: 50%;
  float: left;
  margin: 0 auto;
  height: 75%;
}

.creator {
  text-align: right;
}

.icon_insta, .icon_yt {
  height: 64px;
  width: 64px;
  float: left;
  background-color: white;
  border-radius: 12px;
  margin: 5px;
}
.icon_insta{
  background-image: url("png/instagram.png");
}

.icon_yt {
  background-image: url("png/youtube.png");
}

a {
  text-decoration: none;
  color: white;
}
